.product-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
   
}
.row1{
    display:contents;
}

.col2{
    margin-left: 30px;
    width: 1000px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}

.product-card h5 {
    margin-bottom: 5px;
    margin-top: 10px;
}

.product-card p {
    margin: 0;
    /* font-weight: bold; */
}
.subtext{
    text-align: left;
}
.product-image{
    width: 250px;
}
@media (max-width:800px) {
    .product-grid {
        display: flex;
        flex-wrap: wrap;
    }
    
    .col1{
        width: 300px;
    }
}